:host {
  display: block;
  padding: 0 0 0 48px;
  margin: 20px 0;
}

.calendar-day__half-hour-item {
  position: relative;
  height: 15px;

  &:nth-child(odd) {
    border-top: 1px solid #dcdcdc;
  }

  &:last-child {
    border-bottom: 1px solid #dcdcdc;

    .with-hours &:after {
      content: '00:00';
      position: absolute;
      display: block;
      width: 40px;
      height: 15px;
      top: 6.5px;
      left: -41px;
      font-size: 14px;
      color: #909090;
    }
  }
}

.calendar-day {
  position: relative;
}

.calendar-day__hours {
  position: absolute;
  display: block;
  width: 40px;
  height: 15px;
  top: -8.5px;
  left: -41px;
  font-size: 14px;
  color: #909090;
}
