<div *ngIf="currentTab.name == 'day'"
     [ngClass]="['day-title']">
	{{currentDate.toDateString()}}
</div>

<div *ngIf="currentTab.name == 'week'"
           [ngClass]="['week-title']">

	<div [class.active]="date.toDateString() === todayDate.toDateString()"
	     *ngFor="let date of currentWeekDates"
	     [ngClass]="['title-week-day']">
		{{date.toDateString()}}
	</div>
</div>

<div *ngIf="currentTab.name == 'month'"
     [ngClass]="['month-title']">

	<div *ngFor="let day of weekDayNames"
	     [ngClass]="['title-month-day']">
		{{day}}
	</div>
</div>

<div *ngIf="currentTab.name == 'year'"
           [ngClass]="['year-title']">
	{{currentYearDate.getFullYear()}}
</div>

<div *ngIf="currentTab.name == 'agenda'"
     [ngClass]="['agenda-title']">
	Schedule from
	<span>{{currentWeekDates[0].toDateString()}}</span> to
	<span>{{currentWeekDates[currentWeekDates.length - 1].toDateString()}}</span>
</div>
